[safe]
    directory = *
[push]
    autoSetupRemote = true
[include]
    path = ~/.gitconfig.local
[user]
	name = Deepak Sharma
	email = deepu.sharma@gmail.com
[core]
    symlinks = true
[pull]
	rebase = false

[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE