[safe]
    directory = *
[push]
    autoSetupRemote = true
[include]
    path = ~/.gitconfig.local
[user]
	name = Deepak Sharma
	email = deepu.sharma@gmail.com
[core]
    symlinks = true
[pull]
	rebase = false
